DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=api.ezcpos.com
DB_ENGINE=postgresql
POSTGRES_DB=ezcpos
POSTGRES_USER=ezcpos
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
